@page "/Posetitels/Delete/{id:int}"
@using BlazorApp2.Models
@inject BlazorApp2Context _context
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

<h1 class="t">Вы уверены, что хотите удалить этого посетителя?</h1>
<button class="btn btn-danger" @onclick="HandleValidSubmit">Удалить</button>
<button class="btn btn-info" @onclick="Back">Назад</button>

@code
{
    [Parameter]
    public int id { get; set; }

    private async Task HandleValidSubmit()
    {
        var posetitel = await _context.Posetitel.FirstOrDefaultAsync(m => m.id == id);

        if (posetitel != null)
        {
            _context.Posetitel.Remove(posetitel);
            await _context.SaveChangesAsync();
        }

        NavigationManager.NavigateTo("/Posetitels/Index");
    }

    protected override async Task OnInitializedAsync()
    {

        var posetitel = await _context.Posetitel.FirstOrDefaultAsync(m => m.id == id);
        if (posetitel == null)
        {
            NavigationManager.NavigateTo("/Posetitels/Index");
        }
    }
    public void Back()
    {

        NavigationManager.NavigateTo("/Posetitels/Index");
    }
}