@page "/Posetitels/Edit/{id:int}"
@using BlazorApp2.Models
@inject BlazorApp2Context _context
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment _env
<h3>Редактирование данных преподавателя</h3>
@if (posetitel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@posetitel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="surname" class="control-label">Фамилия</label>
                    <InputText id="surname" @bind-Value="posetitel.Фамилия" />
                </div>
                <div class="form-group">
                    <label for="name" class="control-label">Имя</label>
                    <InputText id="name" @bind-Value="posetitel.Имя" />
                </div>
                <div class="form-group">
                    <label for="patronymic" class="control-label">Отчество</label>
                    <InputText id="patronymic" @bind-Value="posetitel.Отчество" />
                </div>
                <div class="form-group">
                    <label for="vozrast" class="control-label">Возраст</label>
                    <InputNumber id="vozrast" @bind-Value="posetitel.Возраст" />
                </div>
                <div class="form-group">
                    <label for="razmer" class="control-label">Размер_багажа</label>
                    <InputText id="razmer" @bind-Value="posetitel.Размер_багажа" />
                </div>
                <div class="form-group">
                    <label for="sud" class="control-label">Судимость</label>
                    <InputSelect id="sud" @bind-Value="posetitel.Судимость" />
                </div>
                <div class="form-group">
                    <label for="room" class="control-label">Комната</label>
                    <InputText id="room" @bind-Value="posetitel.Комната" />
                </div>
                <div class="form-group">
                    <label for="pit" class="control-label">Питомец</label>
                    <InputSelect id="pit" @bind-Value="posetitel.Питомец" />
                </div>
                <div class="form-group">
                    <label for="bar" class="control-label">Мини_бар</label>
                    <InputSelect id="bar" @bind-Value="posetitel.Мини_бар" />
                </div>
                <div class="form-group">
                    <label for="photo" class="control-label">Фото (менее 500кб)</label>
                    <InputFile id="photo" OnChange="@OnInputFileChange" accept=".jpg,.jpeg,.png,.gif" />
                </div>
                <br />
                <div class="form-group">

                    <NavLink class="nav-link" href="/Posetitels/Index">
                        <div class="n">
                        <span class="oi oi-minus" aria-hidden="true"></span> Вернуться к Просмотру
                        </div>
                    </NavLink>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Сохранить изменения</button>

    </EditForm>
}
@code {
    [Parameter]
    public int id { get; set; }
    private Posetitel posetitel;

    protected override async Task OnInitializedAsync()
    {
        posetitel = await _context.Posetitel.FirstOrDefaultAsync(m => m.id == id);
        if (posetitel == null)
        {
            NavigationManager.NavigateTo("/Posetitels/Index");
        }
    }
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var path = Path.Combine(_env.WebRootPath, "img/employers", e.File.Name);
        using (var stream = new FileStream(path, FileMode.Create))
        {
            await e.File.OpenReadStream().CopyToAsync(stream);
        }
        posetitel.Фото = Path.Combine("img/employers", e.File.Name);
    }
    private async Task HandleValidSubmit()
    {
        _context.Posetitel.Update(posetitel);
        await _context.SaveChangesAsync();
        NavigationManager.NavigateTo("/Posetitels/Index");
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/Posetitels/Index");
    }
}
