@page "/Rabotniks/Delete/{id:int}"
@using BlazorApp2.Models
@inject BlazorApp2Context _context
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

<h1 class="t">Вы уверены, что хотите удалить этого работника?</h1>
<button class="btn btn-danger" @onclick="HandleValidSubmit">Удалить</button>
<button class="btn btn-info" @onclick="Back">Назад</button>

@code
{
    [Parameter]
    public int id { get; set; }

    private async Task HandleValidSubmit()
    {
        var rabotnik = await _context.Rabotnik.FirstOrDefaultAsync(m => m.id == id);

        if (rabotnik != null)
        {
            _context.Rabotnik.Remove(rabotnik);
            await _context.SaveChangesAsync();
        }

        NavigationManager.NavigateTo("/Rabotniks/Index");
    }

    protected override async Task OnInitializedAsync()
    {
       
        var rabotnik = await _context.Rabotnik.FirstOrDefaultAsync(m => m.id == id);
        if (rabotnik == null)
        {
            NavigationManager.NavigateTo("/Rabotniks/Index");
        }
    }
    public void Back()
    {

        NavigationManager.NavigateTo("/Rabotniks/Index");
    }
}
