@page "/contacts"

<h1 class="t">Наши Контакты:</h1>
<div class="contact">

    <div>
        <h2>Борис Николаевич Бытын</h2>
        <img class="photo" src="/img/dir.jpg">
        <p>Должность: Директор</p>
        <p>Номер: 8-952-123-32-33</p>
        <p>Почта: lalka@mail.ru</p>
    </div>
</div>

<div class="contact">

    <div>
        <h2>Дудкин Хихыч Петрович</h2>
        <img class="photo" src="/img/zamm.jpg">
        <p>Должность: Зам Директора</p>
        <p>Номер: 8-912-433-32-33</p>
        <p>Почта: bilodelo@mail.ru</p>
    </div>
</div>

<div class="contact">
    <div>
        <h2>Валерия Надежда Констонтиновна</h2>
        <img class="photo" src="/img/buh.jpg">
        <p>Должность: Главный Бухгалтер</p>
        <p>Номер: 8-232-413-53-32</p>
        <p>Почта: dengidengi@mail.ru</p>
    </div>
</div>


