@page "/Prepods/Delete/{id:int}"
@using BlazorApp2.Models
@inject BlazorApp2Context _context
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

<h1 class="t">Вы уверены, что хотите удалить этого преподавателя?</h1>
<button class="btn btn-danger" @onclick="HandleValidSubmit">Удалить</button>
<button class="btn btn-info" @onclick="Back">Назад</button>

@code
{
    [Parameter]
    public int id { get; set; }

    private async Task HandleValidSubmit()
    {
        var prepod = await _context.Prepod.FirstOrDefaultAsync(m => m.id == id);

        if (prepod != null)
        {
            _context.Prepod.Remove(prepod);
            await _context.SaveChangesAsync();
        }

        NavigationManager.NavigateTo("/Prepods/Index");
    }

    protected override async Task OnInitializedAsync()
    {

        var prepod = await _context.Prepod.FirstOrDefaultAsync(m => m.id == id);
        if (prepod == null)
        {
            NavigationManager.NavigateTo("/Prepods/Index");
        }
    }
    public void Back()
    {

        NavigationManager.NavigateTo("/Prepods/Index");
    }
}