@page "/Prepods/Edit/{id:int}"
@using BlazorApp2.Models
@inject BlazorApp2Context _context
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

<h3>Редактирование данных преподавателя</h3>
@if (prepod == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@prepod" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="surname" class="control-label">Фамилия</label>
                    <InputText id="surname" @bind-Value="prepod.Фамилия" />
                </div>
                <div class="form-group">
                    <label for="name" class="control-label">Имя</label>
                    <InputText id="name" @bind-Value="prepod.Имя" />
                </div>
                <div class="form-group">
                    <label for="patronymic" class="control-label">Отчество</label>
                    <InputText id="patronymic" @bind-Value="prepod.Отчество" />
                </div>
                <div class="form-group">
                    <label for="curator" class="control-label">Куратор Группы</label>
                    <InputText id="curator" @bind-Value="prepod.Куратор_Группы" />
                </div>
                <div class="form-group">
                    <label for="profession" class="control-label">Профессия</label>
                    <InputText id="profession" @bind-Value="prepod.Профессия" />
                </div>
                <div class="form-group">
                    <label for="birthday" class="control-label">День Рождения</label>
                    <InputDate id="birthday" @bind-Value="prepod.День_Рождения" />
                </div>
                <div class="form-group">
                    <label for="roomNumber" class="control-label">Номер Кабинета</label>
                    <InputNumber id="roomNumber" @bind-Value="prepod.Номер_Кабинета" />
                </div>
                <div class="form-group">
                    <label for="salary" class="control-label">Зарплата</label>
                    <InputNumber id="salary" @bind-Value="prepod.Зарплата" />
                </div>
                <div class="form-group">
                    <label for="experience" class="control-label">Стаж</label>
                    <InputNumber id="experience" @bind-Value="prepod.Стаж" />
                </div>
                <div class="form-group">
                    <br />
                    <button type="submit">Изменить преподавателя</button>
                </div>
                <br />
                <div class="form-group">
                    <NavLink class="nav-link" href="/Prepods/Index">
                        <span class="oi oi-minus" aria-hidden="true"></span> Вернуться к Просмотру
                    </NavLink>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button class="btn btn-secondary" @onclick="Back">Отмена</button>
    </EditForm>
}
@code {
    [Parameter]
    public int id { get; set; }
    private Prepod prepod;

    protected override async Task OnInitializedAsync()
    {
        prepod = await _context.Prepod.FirstOrDefaultAsync(m => m.id == id);
        if (prepod == null)
        {
            NavigationManager.NavigateTo("/Prepods/Index");
        }
    }

    private async Task HandleValidSubmit()
    {
        _context.Prepod.Update(prepod);
        await _context.SaveChangesAsync();
        NavigationManager.NavigateTo("/Prepods/Index");
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/Prepods/Index");
    }
}